# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
.Rproj.user

# For Mac
**/.DS_Store


# Don't need the HTML version of the readme
README.html

######

# Sensitive/private data
/private/

# Files too large
/data/raw/covar_for_prediction_30m.RDS
/data/raw/covar_for_prediction_100m.RDS
/data/raw/covariates_resampled_30m.csv
/data/raw/covariates_resampled_100m.csv
/data/raw/detection_histories_all_long.csv
/data/cleaned/detections.RDS 
/data/cleaned/sp_inputs.RDS
#actually do I need any contents of the /cleaned/ folder? decide

# Intended for results objects
/evaluation/
/outputs/
/predictions/


